@CHARSET["UTF-8"];

.root {
	-fx-background-color: #aaa;
    -fx-font-size: 1em;
    -fx-text-fill: white;
}

.equation-list {
	-fx-background-color: transparent;
}

.equation-list-cell {
    -fx-background-color: #bbb;
}

.equation-list-cell:filled:selected {
	
}

.equation-list-cell:odd {
    -fx-background-color: #ccc;
}

.equation-list-cell:even {
    -fx-background-color: #bbb;
}

.calculator-input, .calculator-output {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-prompt-text-fill: white; 
}

.calculator-input {
	-fx-font-size: 2em;
}

.calculator-output {
	-fx-font-size: 1.5em;
}